<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="d" class="ext.DaoImpl2"/>
    <bean id="metier" class="metier.MetierImpl">
        <!-- injection par setter-->
<!--        <property name="dao" ref="d"/>-->
        <!-- injection par constructor-->
        <constructor-arg ref="d"></constructor-arg>
    </bean>
</beans>